$colors: (
    common: (
        white: #fff,
        black: #000,
        grey: #999,
        grey-bg:#f9f9f9,
        gray-bg: #f8f8f8,
        cta-bg: #2f4158,
        menu-color: #888f9a,
        hr-border-color:#f3f3f3,
        slider-bg-color: #f0edec,
        border-color: #51647c, 
        bg-overlay: #ff9731,
    ),
    body: (
        text-color: #777777,
        heading-color: #263b5c,
    ),
    footer: (
        1: #a2aec1,
    ),
    soft: (
        black:#7e7e7e,
        grey: #ebebeb,
        grey-2: #f3f3f3,
        dot: #e3e3e3,
        gray-bg: #f9f9f9,
        grey-bg: #f6f6f6,
        brand: #f9f5f2,

        
    ),
    theme: (
        1: #f15b43,
        2: #65c9bb,
        3: #ff9a39,
        4: #132642,
        5: #2984ff,
        6: #63b55f,
        7: #142645,
        8: #5fb35b,
    ),
)